.root {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
}

.header {
  padding: 14px 0 0 16px;
}

.add {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .root {
    width: 100%;
  }
}