.root {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
}

.backBtn {
  margin: 0 0 10px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bdbdbd;
  height: 150px;
}

.header .fullname {
  color: white;
}

.spacer {
  margin: 5px;
}

.field {
  flex: 1;
}

.value {
  flex: 2;
}

.row {
  display: flex;
  margin-bottom: 5px;
}

.placeholder {
  color: #bdbdbd;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .root {
    width: 100%;
  }
}